@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.principal{
    top: 10%;
    left: 30%;
    transform: translate(-50,-50);
}
.menu{
    width: 100%;
    padding: 12px 16px;
    background-color: cadetblue;
}
.link_menu{
    color: #fff;
    margin: 4px;
    text-decoration: none;
}
.txtH1{
    text-align: center;
    font-size: 22px;
}